<!doctype html>
<html>
  <head>
    <title>Tic-tac-toe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="flash"><%= @flash %></div>
    <h1>Tic-tac-toe</h1>
    <div id="player_prompt">
      Would you like to be <a href="/choose_player/x">X</a> or <a href="/choose_player/o">O</a> (x always goes first)?
    </div>
    <p class="clear">
      <a href="/reset">reset</a>
    </p>
  </body>
</html>
