<!doctype html>
<html>
  <head>
    <title>Tic-tac-toe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="flash"><%= @flash %></div>
    <h1>Tic-tac-toe</h1>
    <div id="player_prompt" style="display: none">
      Would you like to be x or o (x always goes first)?
    </div>
    <div id="board" zstyle="display: none">
      <%= @board_html %>
    </div>
  </body>
</html>
