<form action="/play" id="board-form" method="post">
  <div id="board">
    <% for @index, @value in @spaces %>
      <% if @value.nil? %>
        <div class="space empty choosable">
          <input type="radio" name="space" value="<%= @index %>" class="hidden">
        </div>
      <% else %>
        <div class="space <%= @value.to_s %>">
          <%= @value.to_s %>
        </div>
      <% end %>
    <% end %>
  </div>
</form>
<script type="text/javascript">
  var $form = $('#board-form');
  $('.empty').click(function (event) {
      $(event.target)
        .find('input')
        .prop('checked', true);
      $form.submit();
  });
</script>
