<!doctype html>
<html>
  <head>
    <title>Tic-tac-toe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <h1>Tic-tac-toe</h1>
    <div id="player_prompt">
      Would you like to be x or o (x always goes first)?
    </div>
    <div id="board" style="display: none">
      <%= @board %>
    </div>
  </body>
</html>
