<html>
  <head>
    <title>Tic-tac-toe</title>
    <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="flash"><%= @flash %></div>
    <h1>Tic-tac-toe</h1>
      <%= yield %>
  </body>
</html>
