<h2><%= @over %></h2>

<div id="board">
  <% for @index, @value in @spaces %>
    <% if @value.nil? %>
      <div class="space empty">
      </div>
    <% else %>
      <div class="space <%= @value.to_s %>">
        <%= @value.to_s %>
      </div>
    <% end %>
  <% end %>
</div>

<p class="clear">
  <h2><a href="/reset">Play again?</a></h2>
</p>
